@model MVCSandbox.OpenAccess.Course

@{
    ViewBag.Title = "Delete Course";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#form-edit-course").kendoValidator();

            $(".editButton").kendoButton({
                spriteCssClass: "k-icon k-i-folder-up"
            });

            $(".closeButton").kendoButton({
                icon: "close"
            });

            $("#yardage").kendoNumericTextBox({
                format: "n0"
            });

            $("#slope").kendoNumericTextBox({
                format: "n0"
            });

            $("#rating").kendoNumericTextBox({
                format: "n",
                decimals: 1
            });
        });
    </script>
}

<form id="form-delete-course" role="form" method="POST" action="@Url.Action("Delete", "Courses", new { id = @Model.CourseId })" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 10px;">
            <h2><a href="@Url.Action("Index")" title="Back to Course List"><i class="fa fa-arrow-circle-o-left"></i></a>Delete Course - <span style="color:gray">@Model.CourseName</span></h2>
            <h3>Are you sure you want to delete this?</h3>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="courseName" class="control-label required">Course Name</label>
                <div class="form-controls">
                    <input id="courseName" name="courseName" class="k-input k-textbox" data-role="textbox" value="@Model.CourseName" required validationmessage="Yo numbnuts forgetting course name!" />
                </div>
                <span class="help-block k-invalid-msg" data-for="courseName"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="tee" class="control-label">Tee</label>
                <div class="form-controls">
                    <input id="tee" name="tee" class="k-input k-textbox" data-role="textbox" value="@Model.Tee" />
                </div>
                <span class="help-block k-invalid-msg" data-for="tee"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="yardage" class="control-label">Yardage</label>
                <div class="form-controls">
                    <input id="yardage" name="yardage" type="number" value="@Model.Yardage" min="0" max="9000" />
                </div>
                <span class="help-block k-invalid-msg" data-for="yardage"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="slope" class="control-label">Slope</label>
                <div class="form-controls">
                    <input id="slope" name="slope" type="number" value="@Model.Slope" min="0" max="155" />
                </div>
                <span class="help-block k-invalid-msg" data-for="slope"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="rating" class="control-label">Rating</label>
                <div class="form-controls">
                    <input id="rating" name="rating" type="number" value="@Model.Rating" min="0" max="80" />
                </div>
                <span class="help-block k-invalid-msg" data-for="rating"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="phone" class="control-label">Phone</label>
                <div class="form-controls">
                    <input id="phone" name="phone" class="k-input k-textbox" data-role="textbox" value="@Model.Phone" />
                </div>
                <span class="help-block k-invalid-msg" data-for="phone"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="address1" class="control-label">Address</label>
                <div class="form-controls">
                    <input id="address1" name="address1" class="k-input k-textbox" data-role="textbox" value="@Model.Address1" />
                </div>
                <span class="help-block k-invalid-msg" data-for="address1"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="website" class="control-label">Website</label>
                <div class="form-controls">
                    <input id="website" name="website" class="k-input k-textbox" data-role="textbox" value="@Model.Website" />
                </div>
                <span class="help-block k-invalid-msg" data-for="website"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="address2" class="control-label">Address</label>
                <div class="form-controls">
                    <input id="address2" name="address2" class="k-input k-textbox" data-role="textbox" value="@Model.Address2" />
                </div>
                <span class="help-block k-invalid-msg" data-for="address2"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="notes" class="control-label">Notes:</label>
                <div class="form-controls">
                    <input id="notes" name="notes" class="k-input k-textbox" />
                </div>
                <span class="help-block k-invalid-msg" data-for="notes"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="city" class="control-label">City:</label>
                <div class="form-controls">
                    <input id="city" name="city" class="k-input k-textbox" data-role="textbox" />
                </div>
                <span class="help-block k-invalid-msg" data-for="city"></span>
            </div>
            <div class="form-group col-md-1">
                <label for="state" class="control-label">State:</label>
                <div class="form-controls">
                    <input id="state" name="state" class="k-input k-textbox" data-role="textbox" />
                </div>
                <span class="help-block k-invalid-msg" data-for="state"></span>
            </div>
            <div class="form-group col-md-2">
                <label for="zip" class="control-label">Zip:</label>
                <div class="form-controls">
                    <input id="zip" name="zip" class="k-input k-textbox" data-role="textbox" />
                </div>
                <span class="help-block k-invalid-msg" data-for="zip"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12" style="text-align: center; padding-top: 20px;">
                    <button class="editButton">Delete</button>
                    <span class="closeButton k-button k-button-icontext" style="text-decoration: none;">@Html.ActionLink("Cancel", "Index")</span>
                </div>
            </div>
        </div>
    </div>
</form>